body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.board-border {
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 840px;
  height: 840px;
}

.board {
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
}

.row {
  display: flex;
  
}

.row div {
  flex-grow: 1;
  aspect-ratio: 1;
}

.cell{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.cell_black {
  background-color: #777;
}

.cell_white {
  background-color: #b4b3b3;
}

.cell_move{
  background-color: #37aa5d;
}

.cell_check{
  background-color: #b62222;
}